.header {
    background-color: #fff;
    padding: 1.5rem 0;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.header .logo img {
    height: 60px;
    /* Adjust the height as needed */
    width: auto;
    /* Maintain aspect ratio */
    padding-left: 1rem;
    /* Add padding to ensure it's not too close to the edge */
}

.nav {
    display: flex;
    gap: 2rem;
    /* Increase spacing between links */
}

.nav a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #0070f3;
}