/* Project List */
.project-list {
    padding: 3rem 0;
    text-align: center;
}

.project-list h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    color: #444;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 2rem;
    flex-basis: calc(33% - 2rem);
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    max-width: 350px;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.project-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.project-link {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #0070f3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.project-link:hover {
    background-color: #005bb5;
}